* {
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
ul {
  list-style-type: none;
}
header {
  display: flex;
  background-color: #279989;
}
main section:first-child {
  display: flex;
  justify-content: space-between;
  background-color: #5fa789;
}
section ~ section {
  background-color: #ffc845;
}
.space {
  display: flex;
  justify-content: space-between;
}
