* {
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}
body {
  background-color: #ffc845;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  color: #fff;
  padding: 5px;
}
.menu {
  display: flex;
  justify-content: space-around;
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #279989;
  color: #fff;
  font-size: 0.75rem;
}
nav {
  width: 40%;
}
a {
  color: #fff;
  text-decoration: none;
}
main section:first-child {
  display: flex;
  justify-content: space-between;
  background-color: #5fa789;
}
section ~ section {
  padding: 5px;
  background-color: #ffc845;
}
.space {
  display: flex;
  justify-content: space-between;
}
i {
  padding: 5px;
}
[type="checkbox"] {
  margin: 7px;
}
.total {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
}
